# Continuous Integration (CI) is the practice, in software
# engineering, of merging all developer working copies with a shared mainline
# several times a day < https://docs.platformio.org/page/ci/index.html >
#
# Documentation:
#
# * Travis CI Embedded Builds with PlatformIO
#   < https://docs.travis-ci.com/user/integration/platformio/ >
#
# * PlatformIO integration with Travis CI
#   < https://docs.platformio.org/page/ci/travis.html >
#
# * User Guide for `platformio ci` command
#   < https://docs.platformio.org/page/userguide/cmd_ci.html >
#

language: python
python:
    - "3.8"

sudo: false
cache:
    directories:
        - "~/.platformio"

install:
    - pip install -U platformio
    - platformio update

script:
    - platformio run
    - echo $TRAVIS_BUILD_NUMBER > version.txt

before_deploy:
    - git tag $TRAVIS_BUILD_NUMBER

deploy:
  provider: releases
  api_key: "$DEMTRAVISSEINTOKEN"
  file:
    - .pio/build/esp32dev/firmware.bin
    - version.txt
  skip_cleanup: true
  on:
    branch: master
    tags: false
